.master-container {
  display: grid;
  height: 620px;
  margin: 0 25px;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(8, 1fr);
  grid-auto-flow: column;
}

.input-container {
  width: 300px;
  text-align: left;
  justify-self: center;
  align-self: center;
}

.first-input {
  grid-column: 1;
  grid-row: 1;
}

.input-title {
  margin: 10px 0;
}

.grid-container {
  grid-column: 2;
  grid-row: 1 / 6;
  display: grid;
  height: 620px;
  grid-template-rows: 50px 200px 200px 40px;
  font-size: 18px;
  border: 2px solid black;
  box-sizing: border-box;
}

.Select-clear-zone {
  display: none;
}

.Select-control {
  height: 26px;
  box-sizing: border-box;;
}

.Select-control.input-box {
  display: inline-block;
  width: 80%;
}

.Select--single > .Select-control .Select-value {
  line-height: 28px;
}

.Select-input {
  height: 26px;
}

.submit-button {
  margin-left: 5px;
}

.App {
  text-align: center;
  padding-bottom: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  margin: .5em 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
